.display {
    display: flex !important;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
}

.navBackground {
    background: rgb(206,137,32);
    background: linear-gradient(180deg, rgba(206,137,32,1) 0%, rgba(226,151,48,1) 35%, rgba(245,171,66,1) 100%);
}