.cartShipment {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    min-height: 20em;
    gap: 1em;
    flex-wrap: nowrap;
    padding: 2em 0;
    flex-direction: column;

    .cartShipment_headTitle {
        color: 000;
        margin: 1em 0 1em 1em;
        font-size: clamp(0.8rem, 1.4vw, 1.4rem);
    }

    .cartShipment_box {
        height: 5.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.5em;
        padding: 0 2em;
        align-items: center;
        color: white;
        background-color: #29324112;
        border-radius: 0.3em;
        box-shadow: 0 0 5px #2932418a;

        img {
            width: max(3vw, 2em);
        }

        .cartShipment__text {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.2em;

            .cartShipment___title {
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: clamp(0.8rem, 1.3vw, 1.3rem);
            }

            .cartShipment___subText {
                font-size: clamp(0.6rem, 0.8vw, 0.8rem);
            }
        }

    }
}