.cart {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1em;
    flex-wrap: nowrap;
    padding: 2em 0;
    flex-direction: column;

    .cart_sum {
        color: black;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .cart_headTitle {
        color: black;
        margin: 1em 0 1em 1em;
        font-size: clamp(0.8rem, 1.4vw, 1.4rem);
    }

    .cart_box {
        height: 5.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.5em;
        padding: 0 2em;
        align-items: center;
        color: white;
        background-color: #3d5a80;
        border-radius: 0.3em;
        box-shadow: 0 0 5px #293241b3;

        @media screen and (max-width: 992px) {
            border-radius: 0;
        }

        img {
            width: max(3vw, 2em);
        }

        .cart__text {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.2em;

            .cart___title {
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: clamp(0.8rem, 1.3vw, 1.3rem);
            }

            .cart___subText {
                font-size: clamp(0.6rem, 0.8vw, 0.8rem);
            }
        }

        .price {
            font-size: clamp(0.8rem, 1vw, 1rem);
            display: flex;
            align-items: center;
            width: 11em;
        }

        .amount {
            font-size: clamp(0.8rem, 1vw, 1rem);
        }
    }
}