.cInformation {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1em;
    flex-wrap: nowrap;
    padding: 2em 0;
    flex-direction: column;

    .cInformation_headTitle {
        color: white;
        margin: 1em 0 1em 1em;
        font-size: clamp(0.8rem, 1.4vw, 1.4rem);
    }

    .cInformation_choose {
        color: white;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .cInformation_login {
        color: white;
        position: absolute;
        right: 1em;
        top: 0.5em;
    }

    .form {
        display:flex;
        gap: 1em;
        flex-wrap: wrap;
        margin: 0 1em;

        .form_box {
            display: flex;
            flex-direction: column;
            gap: 2em;

            label {
                color: white;
            }

            input {
                border: none;
                background-color: #98c1d900;
                padding: 1em 0.3em;
                border-bottom: 0.3em solid #ffffff;
                width: 20em;
                color: white;
                outline: none;
                border-radius: 0.2em;

                &::placeholder {
                    color:white;
                }
            }
        }

    }
    
}