.display {
    display: flex !important;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8em;
}

.directionColumn {
    flex-direction: column !important;
}

.directionRow {
    flex-direction: row !important;
}

.orange {
    background-color: #ee6c4d !important;
}

.babyBlue {
    background-color: #98c1d9 !important;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

.button {
    color: white;
    background-color: #ee6c4d;
    max-width: fit-content;
    width: 100%;
    height: 2em;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;

    &:hover {
        cursor: pointer;
        background-color: #eb5a36;
    }
}